.container {
  width: 50%;
  background: radial-gradient(
        178.94% 106.41% at 26.42% 106.41%,
        #fff7b1 0%,
        rgba(255, 255, 255, 0) 71.88%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #ffffff;
  border-radius: 23px;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
  margin: 25px;
  padding: 20px;
}
